/* ========================= Account Page ========================= */
.account-container {
    display: grid;
    height: 100%;
    grid-template-columns: 75% 25%;
    width: 80%;
    margin: auto;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "info acc-interaction";
    /* stylelint-enable */
}

.display-info {
    grid-area: info;
    width: auto;
    height: auto;
}

.profile-picture {
    aspect-ratio: 1;
    grid-area: acc-interaction;
    text-align: center;
    justify-content: center;
    display: flex;
}

.account-interaction {
    grid-area: acc-interaction;
    text-align: center;
}

.account-interaction form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.profile-picture img {
    aspect-ratio: 1;
    max-height: 150px;
    max-width: 150px;
}

.display-info textarea {
    width: 100%;
    min-height: 150px;
    resize: none;
}

.account-edit-button {
    width: 60%;
    max-width: 150px;
    height: 40px;
    margin: auto;
}

/* ========================= Default Page ========================= */
.account-container .content-box {
    width: auto;
}

/* ========================= Edit Page ========================= */
#date-dropdown {
    width: 20%;
    height: 40px;
    font-size: 18px;
}

.display-info input:not([type="radio"]) {
    height: 40px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}
