/* ========================= Account Page ========================= */
.account-container {
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 70%;
    margin-top: 50px;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "info propic"
            "info acc-interaction";
    /* stylelint-enable */
}

.display-info {
    grid-area: info;
}

.profile-picture {
    grid-area: propic;
    text-align: center;
}

.account-interaction {
    grid-area: acc-interaction;
    text-align: center;
}

.profile-picture img {
    aspect-ratio: 1 / 1;
    width: 60%;
    max-height: 150px;
    max-width: 150px;
}

.display-info textarea {
    width: 70%;
    min-height: 150px;
    resize: none;
}

.account-edit {
    width: 30%;
    aspect-ratio: 2/1;
    cursor: pointer;
    background-color: rgb(146 71 146);
    margin-bottom: 5px;
}

.account-edit:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

/* ========================= Default Page ========================= */
.info {
    margin-bottom: 10px;
    width: 70%;
    border: 2px solid rgb(170 170 170);
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #ccc;
    padding: 10px;
}

.info .title {
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: bold;
}

.info .info-value {
    margin-bottom: 5px;
    margin-top: 2px;
    word-wrap: break-word;
}

/* ========================= Edit Page ========================= */
#date-dropdown {
    width: 20%;
    height: 40px;
    font-size: 18px;
}

.display-info input:not([type="radio"]) {
    height: 40px;
    width: 70%;
    font-size: 18px;
    margin-bottom: 10px;
}
