/* ========================= GENERAL ========================= */
em {
    font: inherit;
    font-weight: bold;
}

* {
    font-family: Arial, sans-serif;
}

html {
    box-sizing: border-box;
    background-color: #f0eeee;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: unset;
    margin: unset;
}

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.center {
    margin: auto;
}

/* ======================== GENERAL PURPOSE BUTTONS ======================== */
.ost-button {
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(146 71 146);
}

.ost-button:disabled {
    background-color: #767676;
    cursor: default;
}

.ost-button:hover {
    background-color: rgb(176 86 176);
}

.dangerous-button {
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(223 19 46);
    font-weight: bold;
}

.dangerous-button:disabled {
    background-color: #767676;
    cursor: default;
}

.dangerous-button:hover {
    background-color: rgb(241 46 72);
}

/* ========================= NOTIFICATION STYLING ========================= */
.notice {
    background: #f9f9f9;
    padding: 0.25em 1em 0.25em 2em;
    border-left: 4px solid #ddd;
}

.hint {
    border-color: #0074d9;
}

.success {
    border-color: #2ecc40;
}

.error {
    border-color: #ff4136;
}

/* ========================= CONTROL PANEL STYLING ========================= */
#control-panel {
    margin: 0 auto;
    border: 2px solid darkmagenta;
    background-color: #eae7e7;
    width: 40em;
    height: 3em;
    font-family: Arial, serif;
    text-align: center;
}

#logo {
    float: left;
    object-fit: cover;
    width: 100px;
    height: 50px;
    margin-left: 30px;
}

.control-button {
    text-align: center;
    border-radius: 4px;
    height: 1.2em;
    display: inline-block;
    padding: 10px;
    margin: 0.2em auto auto;
    text-decoration: none;
}

.control-button:hover {
    background-color: rgb(184 102 184);
}

/* ========================= BASIC PAGE LAYOUT ========================= */
#background {
    position: absolute;
    width: 100%;
}

.top {
    width: 100%;
    z-index: 0;
    height: 180px;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    margin: 0 auto auto;
}

.content-box {
    text-align: justify;
    padding: 15px;
    border: 2px solid rgb(170 170 170);
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #ccc;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content-box h3 {
    font-weight: bold;
    margin: 5px 0;
}

.content-box p {
    font-weight: normal;
    margin: 5px 0;
}

/* ========================= SEARCHBAR ========================= */
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin: 5px;
}

#searchbar {
    width: 50%;
    border: 3px solid rgb(63 63 63);
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    outline: none;
}

/* ========================= Modals ========================= */
.modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    max-width: 50%;
    word-wrap: break-word;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #eae7e7;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0);
    opacity: 0;
    pointer-events: none;
}

.overlay.active {
    opacity: 0.5;
    pointer-events: all;
}

.checkbox {
    margin: 10px;
}

.modal-body .textarea {
    resize: none;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    height: 5em;
    border: 1px solid black;
}

.display-info input {
    height: 40px;
    width: 70%;
    font-size: 18px;
    margin-bottom: 10px;
}

#create-group-form label,
#create-group-form input {
    display: block;
    width: 50%;
}

#create-group-form input {
    margin-bottom: 5px;
}

.infotext {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10%;
}

.img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.infotext table tr td:nth-child(1) {
    font-weight: bold;
    padding: 0 20px;
}
