/* ========================= Group Information ========================= */
#group-div {
    display: grid;
    height: 100%;
    grid-template-columns: 60% 35%;
    grid-template-rows: 3% 25% 3% 25% 10%;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "desc-title mem-title"
            "group-desc group-members"
            "group-desc appli-title"
            "group-desc group-appli"
            "empty interactions"
            "group-settings group-settings";
    /* stylelint-enable */
    column-gap: 2%;
    row-gap: 10px;
}

#group-description {
    grid-area: group-desc;
    text-align: justify;
    word-wrap: break-word;
    padding: 10px;
    border: 2px solid rgb(170 170 170);
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #ccc;
}

#groupmember-list {
    grid-area: group-members;
    border: 2px solid rgb(170 170 170);
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

#group-applications {
    grid-area: group-appli;
    border: 2px solid rgb(170 170 170);
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

#additional-group-settings {
    grid-area: group-settings;
    border: 2px solid purple;
}

.applicants-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: appli-title;
}

.description-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: desc-title;
}

.members-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: mem-title;
}

#groupmember-list ul,
#group-applications ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

#group-interaction-btns {
    grid-area: interactions;
    display: flex;
    justify-content: center;
}

#group-interaction-btns .group-btn {
    height: 80%;
    width: 35%;
    margin: auto 0;
    cursor: pointer;
    margin: 0 10px;
}

#edit-group-btn {
    background-color: rgb(146 71 146);
}

#edit-group-btn:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

.form-buttons-delete {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.delete-modal-button {
    display: inline-block;
    width: 40%;
    height: 30px;
    cursor: pointer;
}

#confirm-delete-group-button {
    margin-left: 10px;
}

#delete-group-button,
#confirm-delete-group-button {
    background-color: rgb(223 19 46);
    font-weight: bold;
}

#delete-group-button:hover,
#confirm-delete-group-button:hover {
    background-color: rgb(241 46 72);
}

/* ========================= Edit Group Page ========================= */
.edit-group-container {
    width: 65%;
    margin: 0 auto;
}

#edit-group-form input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
}

#edit-group-form textarea {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 18px;
    margin-bottom: 10px;
    resize: vertical;
}

#edit-group-form label {
    display: block;
    width: 100%;
    font-weight: bold;
}
#group-edit-interaction-btns {
    height: 10%;
    width: 30%;
    float: right;
}

#group-edit-interaction-btns .group-btn {
    font-size: 15px;
    height: 2em;
    cursor: pointer;
    background-color: rgb(146 71 146);
    float: right;
}

#group-edit-interaction-btns .group-btn:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

.back-btn {
    font-size: 15px;
    height: 2em;
    cursor: pointer;
    background-color: lightgrey;
    float: left;
}

.back-btn:hover {
    cursor: pointer;
    background-color: grey;
}
