/* ========================= Group Information ========================= */
.group-head {
    display: flex;
    justify-content: space-between;
}

.apply-by-date {
    line-height: 52px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(146 71 146);
}

#group-div {
    display: grid;
    height: 100%;
    grid-template-columns: 60% 38%;
    grid-template-rows: 3% 30% 3% 30% 10%;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "desc-title mem-title"
            "group-desc group-members"
            "group-desc appli-title"
            "group-desc group-appli"
            "empty interactions"
            "group-settings group-settings";
    /* stylelint-enable */
    column-gap: 2%;
    row-gap: 10px;
}

#group-description {
    grid-area: group-desc;
    min-height: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#group-member-list {
    grid-area: group-members;
}

#group-application-list {
    grid-area: group-appli;
}

#additional-group-settings {
    grid-area: group-settings;
    border: 2px solid purple;
}

.applicants-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: appli-title;
}

.description-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: desc-title;
}

.members-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: mem-title;
}

.view-application,
.kick-member {
    float: right;
    margin-right: 1em;
}

#group-interaction-btns {
    grid-area: interactions;
    display: flex;
    justify-content: center;
}

#group-interaction-btns .group-btn {
    height: 80%;
    width: 150px;
    margin: auto 0;
    cursor: pointer;
    background-color: rgb(146 71 146);
}

#delete-group-button {
    height: 80%;
    width: 150px;
    margin: auto 0;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

#group-interaction-btns .group-btn:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

.form-buttons-delete {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.delete-modal-button {
    display: inline-block;
    width: 40%;
    height: 30px;
    cursor: pointer;
}

#confirm-delete-group-button {
    margin-left: 10px;
}

#delete-group-button,
#confirm-delete-group-button {
    background-color: rgb(223 19 46);
}

#delete-group-button:hover,
#confirm-delete-group-button:hover {
    background-color: rgb(241 46 72);
}
