/* ========================= Group Information ========================= */
.group-head {
    display: flex;
    justify-content: space-between;
}

.apply-by-date {
    line-height: 52px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(146 71 146);
}

#group-div {
    display: grid;
    height: 100%;
    grid-template-columns: 60% 38%;
    grid-template-rows: 3% 30% 3% 30% 10%;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "desc-title mem-title"
            "group-desc group-members"
            "group-desc appli-title"
            "group-desc group-appli"
            "empty interactions"
            "group-settings group-settings";
    /* stylelint-enable */
    column-gap: 2%;
    row-gap: 10px;
}

.group-description-full {
    grid-area: group-desc;
    text-align: justify;
    word-wrap: break-word;
    min-height: 20em;
    overflow-x: hidden;
}

#group-member-list {
    grid-area: group-members;
}

#group-application-list {
    grid-area: group-appli;
}

#additional-group-settings {
    grid-area: group-settings;
    border: 2px solid purple;
}

.applicants-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: appli-title;
}

.description-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: desc-title;
}

.members-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-area: mem-title;
}

.view-application,
.kick-member {
    float: right;
    margin: 1px;
    font-size: 10px;
    height: unset;
    width: 50px;
}

.group-interaction-buttons-area {
    grid-area: interactions;
}

#confirm-delete-group-button {
    margin-left: 10px;
}

.form-buttons-delete {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.delete-modal-button {
    display: inline-block;
    width: 40%;
    height: 30px;
}

/* ========================= Edit Group Page ========================= */
.edit-group-container {
    width: 80%;
    margin: 0 auto;
}

#edit-group-form input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
}

#edit-group-form textarea {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 18px;
    margin-bottom: 10px;
    resize: vertical;
}

#edit-group-form label {
    display: block;
    width: 100%;
    font-weight: bold;
}

.group-edit-interaction-btns {
    width: 100%;
}

.group-edit-interaction-btns .group-btn {
    width: 35%;
}

.modal-body #group-application-description {
    width: 100%;
}
