/* ========================= Subjects Page ========================= */
.subject {
    display: flex;
    height: 2em;
}

.subject:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.subject-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}

/* ========================= GroupList Page ========================= */
.group {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 30% 30%;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
        "info members"
        "info apply"
        "info full";
    /* stylelint-enable */

    height: 9em;
    margin-bottom: 10px;
    cursor: pointer;
}

.group p {
    font-size: 18px;
}

.group:not(.no-hover):hover {
    transform: scale(1.02);
}

.group-info {
    grid-area: info;
}

.group-attributes {
    display: flex;
    justify-content: left;
    margin-top: auto;
    margin-bottom: auto;
}

.group-members {
    grid-area: members;
}

.group-full {
    grid-area: full;
}

.group-apply-by {
    grid-area: apply;
}

.group-interaction {
    grid-area: interaction;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.group-interaction form {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.group-info .group-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.group-info .group-description-short {
    max-width: 90%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-area: group-desc;
    text-align: justify;
}

.group-details > i {
    vertical-align: middle;
}
