em {
    font: inherit;
    font-weight: 700;
}

* {
    font-family: Arial, sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.center {
    margin: auto;
}

/* ========================= CONTROL PANEL STYLING ========================= */
#control-panel {
    margin: 0 auto;
    border: 2px solid darkmagenta;
    background-color: #eae7e7;
    width: 40em;
    height: 3em;
    font-family: Arial, serif;
    text-align: center;
}

#logo {
    float: left;
    object-fit: cover;
    width: 100px;
    height: 50px;
    margin-left: 30px;
}

.control-button {
    text-align: center;
    border-radius: 4px;
    height: 1.2em;
    display: inline-block;
    padding: 10px;
    margin: 0.2em auto auto;
}

.control-button:link {
    text-decoration: none;
}

.control-button:visited {
    text-decoration: none;
}

.control-button:hover {
    text-decoration: none;
    background-color: rgb(184 102 184);
}

@media (max-width: 735px) {
    .control-button { display: none; }
}

/* ========================= BASIC PAGE LAYOUT ========================= */
#background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    z-index: 0;
    height: 250px;
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 10px;
    margin: 0 auto auto;
}

/* ========================= SUBJECTS ========================= */
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

#searchbar {
    width: 50%;
    border: 2px solid black;
    padding: 5px;
    height: 20px;
    outline: none;
}

/* ========================= HOMEPAGE ========================= */

/* ========================= LOGIN PAGE ========================= */
.display-info p {
    margin-bottom: 2px;
}

#login-form-div {
    width: 80%;
    margin: 0 auto;
}

#login-form-div > section > h1 {
    font-family: Arial, sans-serif;
}

input[name="email"] {
    width: 100%;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: block;
}

input[name="password"],
input[name="passwordConfirmation"] {
    width: 100%;
    height: 40px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 10px 0 5px;
}

#login-button {
    width: 100%;
    height: 40px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 10px 0 20px;
    background-color: rgb(146 71 146);
}

#login-button:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

#register-button {
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 15px;
    margin: 10px 0 20px;
    background-color: rgb(125 123 123);
    align-items: center;
    justify-content: center;
}

#register-button:hover {
    background-color: rgb(148 145 145);
}

#forgot-password {
    font-size: 13px;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
}

a:visited {
    color: inherit;
}

#login-form h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 18px;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#login-form h2 span {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 0 10px;
}

/* ========================= Registration Page ========================= */
#login-form-div p {
    font-family: Arial, sans-serif;
}

#register-buttons {
    display: inline-flex;
}

#verify-button {
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 10px 10px 0 0;
    background-color: rgb(146 71 146);
}

#verify-button:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

#cancel-verification {
    text-align: center;
    width: 30%;
    height: 36px;
    font-size: 15px;
    margin: 10px;
    background-color: rgb(125 123 123);
    border-top: 2px solid #767676;
    border-right: 2px solid #212121;
    border-bottom: 2px solid #212121;
    border-left: 2px solid #767676;
}

#cancel-verification:hover {
    cursor: pointer;
    background-color: rgb(156 154 154);
}

/* ========================= Reset Password Page ========================= */
#reset-password {
    width: 40%;
    height: 40px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 10px 0 20px;
    background-color: rgb(146 71 146);
}

#reset-password:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

/* ========================= Subjects Page ========================= */
.subject {
    display: flex;
    width: 95%;
    height: 4em;
    padding: 5px;
    margin-bottom: 15px;
}

.subject h3 {
    margin: 10px 0 5px 5px;
}

.subject-description,
.group-description {
    flex: 1;
    display: flex;
    height: 100%;
    box-shadow: 0 0 3px 2px #ccc;
}

/* ========================= GroupList Page ========================= */
.group {
    display: grid;
    grid-template-columns: 60% 25% 15%;
    grid-template-rows: 50px;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "info members interaction"
            "info full interaction";
    /* stylelint-enable */
    height: 7em;
    margin-bottom: 10px;
    box-shadow: 0 0 3px 2px #ccc;
}

.group-info {
    grid-area: info;
    border-right: 2px solid rgb(217 217 217);
    padding: 5px;
}

.group-members {
    display: table-cell;
    grid-area: members;
    padding: 5px;
    text-align: center;
}

.group-full {
    display: table-cell;
    grid-area: full;
    padding: 5px;
    text-align: center;
}

.group-interaction {
    grid-area: interaction;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid rgb(217 217 217);
}

.group-interaction form {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.group-interaction .grp-btn {
    font-size: 15px;
    width: 80%;
    height: 2em;
    cursor: pointer;
    background-color: rgb(146 71 146);
    margin-bottom: 5px;
}

.group-interaction .grp-btn:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

.group-interaction .grp-btn:disabled {
    background-color: #767676;
    cursor: default;
}

#create-group-div {
    margin-bottom: 20px;
}

#create-group-div .grp-btn {
    font-size: 15px;
    height: 2em;
    cursor: pointer;
    background-color: rgb(146 71 146);
}

#create-group-div .grp-btn:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}

.group-info p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}
/* ========================= Group Page Modal ========================= */
.modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    max-width: 50%;
    word-wrap: break-word;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #eae7e7;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0);
    opacity: 0;
    pointer-events: none;
}

.overlay.active {
    opacity: 0.5;
    pointer-events: all;
}

.checkbox {
    margin: 10px
}

.modal-body #application-text,
.modal-body #create-group-description,
.modal-body #group-application-description {
    resize: none;
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 5em;
    border: 1px solid black;
}

.display-info input {
    height: 40px;
    width: 70%;
    font-size: 18px;
    margin-bottom: 10px;
}

#create-group-form label,
#create-group-form input {
    display: block;
    width: 50%;
}

#create-group-form input {
    margin-bottom: 5px;
}

/* ========================= Group Information =========================*/
#group-interaction-div {
    display: flex;
    justify-content: space-between;
}

#group-interaction-btns {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

#group-interaction-btns #leave-group-btn {
    margin-right: 60px;
    height: 50%;
    width: 80px;
    cursor: pointer;
}

#group-interaction-btns #delete-group-btn {
    margin-right: 30px;
    height: 50%;
    width: 80px;
}

#group-div {
    display: grid;
    height: 100%;
    grid-template-columns: 60% 35%;
    grid-template-rows: 20% 20% 60%;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "group-desc group-members"
            "group-desc group-appli"
            "group-settings group-settings";
    /* stylelint-enable */
    column-gap: 5%;
    row-gap: 30px;
}

#group-description {
    grid-area: group-desc;
    box-shadow: 0 0 3px 2px #ccc;
    text-align: justify;
    padding: 10px;
}

#groupmember-list {
    grid-area: group-members;
    box-shadow: 0 0 3px 2px #ccc;
}

#group-applications {
    grid-area: group-appli;
    box-shadow: 0 0 3px 2px #ccc;
}

#additional-group-settings {
    grid-area: group-settings;
    border: 2px solid purple;
}

#groupmember-list ul,
#group-applications ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

/* ========================= Account Page ========================= */
.account-container {
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 70%;

    /* Strange interaction with linter and grid template */
    /* stylelint-disable */
    grid-template-areas:
            "info propic"
            "info acc-interaction";
    /* stylelint-enable */
}

.display-info {
    grid-area: info;
}

.profile-picture {
    grid-area: propic;
    text-align: center;
}

.account-interaction {
    grid-area: acc-interaction;
    text-align: center;
}

.profile-picture img {
    aspect-ratio: 1 / 1;
    width: 60%;
}

.display-info textarea {
    width: 70%;
    min-height: 150px;
    resize: none;
}

#start-account-edit {
    width: 30%;
    aspect-ratio: 2/1;
    cursor: pointer;
    background-color: rgb(146 71 146);
    margin-bottom: 5px;
}

.acc-edit-btn {
    display: none;
    width: 30%;
    aspect-ratio: 2/1;
    cursor: pointer;
    background-color: rgb(146 71 146);
    margin-bottom: 5px;
}

#start-account-edit:hover,
.acc-edit-btn:hover {
    cursor: pointer;
    background-color: rgb(176 86 176);
}
