<div id="login-form-div">
	<section>
		<h1>Reset Password</h1>
		<p>Enter your email below and if it is assigned to a username you will receive instructions on how to reset your password</p>
		<form method="post" action="#" id="login-form">
			<label for="id-email"></label><input type="text" name="email" id="id-email"
				placeholder="Enter Email" autocomplete="off">
			<button class="button" id="reset-password" type="submit">Reset Password</button>
		</form>
	</section>
</div>