<h1>{{abbr}}</h1>
<div id="create-group-div">
	<button class="grp-btn">Create Group</button>
</div>
<article class="group">
	<div class="group-description">
		<div class="group-info">
			This is going to be the group description
		</div>
		<div class="group-members">
			<ul class="member-list">
				<li>Hans</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
			</ul>
		</div>
	</div>
	<div class="group-interaction">
		<button data-modal-target="#test" class="grp-btn apply">Apply</button>
	</div>
	<div class="application-modal" id="test">
		<div class="application-modal-header">
			<div class="title">Group Application</div>
			<button data-close-button class="close-button">&times;</button>
		</div>
		<div class="application-modal-body">
			<form id="application-form" method="post">
				<textarea id="application-text" maxlength="200" required placeholder="add a brief summary"></textarea>
				<button type="submit" class="application-submit-btn">Submit</button>
			</form>
		</div>
	</div>
</article>
<div id="overlay"></div>

{{#each groups}}

{{/each}}
