<div id="group-interaction-div">
	<h1>GROUPNAME</h1>
	<div id="group-interaction-btns">
		<button id="leave-group-btn">Leave</button>
		<button id="delete-group-btn" disabled>Delete</button>
	</div>
</div>
<div id="group-div">
	<div id="group-description">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam augue, maximus at posuere ac, tincidunt a elit. Donec pellentesque dolor sem, vitae tempus magna pulvinar quis. In hac habitasse platea dictumst. Proin auctor velit non ultricies congue. Pellentesque ac felis et arcu luctus dignissim. Mauris euismod viverra felis ut interdum. Pellentesque faucibus tellus tortor, ut porttitor risus pulvinar a. Suspendisse consectetur dolor eget urna eleifend, sed sollicitudin risus volutpat. Quisque erat nibh, congue sit amet leo nec, faucibus rutrum nunc. Nullam eget nunc augue. Aliquam iaculis dignissim libero non iaculis. Nunc sodales risus eu pretium consequat. Duis a consectetur orci.</p>
	</div>
	<div id="group-information">
		<div id="groupmember-list">
			<ul>
				<li>Thomas <button>X</button></li>
				<li>Thomas <button>X</button></li>
				<li>Thomas <button>X</button></li>
				<li>Thomas <button>X</button></li>
				<li>Thomas <button>X</button></li>
			</ul>
		</div>
		<div id="applications">
			<ul>
				<li>Thomas <button>View</button></li>
				<li>Thomas <button>View</button></li>
				<li>Thomas <button>View</button></li>
				<li>Thomas <button>View</button></li>
				<li>Thomas <button>View</button></li>
			</ul>
		</div>
	</div>
</div>
