<h1>{{abbr}}</h1>
<article class="group">
	<div class="group-description">
		<div class="group-info">
			This is going to be the group description
		</div>
		<div class="group-members">
			<ul class="member-list">
				<li>Hans</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
				<li>Thomas</li>
			</ul>
		</div>
    </div>
	<div class="group-interaction">
		<button class="grp-btn">Apply</button>
	</div>
</article>

{{#each groups}}

{{/each}}