<div class="infotext">
	<h1>Welcome to OSTeams</h1>
	<p>This Portal is for all OST (Ostschweizer Fachochschule) Students. Here you can find other students to form groups for different purposes. You can find partners for a specific testat or create a group for dedicated learning in a subject. The purpose of the group is up to you.</p>
	<h2>Navigation</h2>
	<table>
		<tr>
			<td>Home</td>
			<td>Is this homepage</td>
		</tr>
		<tr>
			<td>Subjects</td>
			<td>See all Subjects and find open Groups within them or create a new group</td>
		</tr>
		<tr>
			<td>My Groups</td>
			<td>See all groups you are a part of</td>
		</tr>
		<tr>
			<td>Account</td>
			<td>See your account details and edit them</td>
		</tr>
		<tr>
			<td>Login</td>
			<td>Login or Register a new account</td>
		</tr>
	</table>

</div>
<img class="img" src="/images/osteams.jpg" alt="osteams logo">
