<div>
	<section>
		<h1>Login</h1>
		<form method="post" action="#">
			<label for="id-username"></label><input type="text" name="username" id="id-username"
				placeholder="Enter Username">
			<label for="id-password"></label><input type="password" name="password" id="id-password"
				placeholder="Enter Password">
			<a href="/account/forgot">Passwort vergessen</a>
			<button class="button" type="submit">Login</button>
			<a class="button" href="/account/register">Registrieren</a>
		</form>
	</section>
</div>
<a href="/">Home</a>