<div class="login-or-register-form-div content-box">
	<section>
		<h1>Login</h1>
		<form method="post" action="/account/login" id="login-form">
			<label for="id-email"></label><input type="text" name="email" id="id-email"
				placeholder="Enter Email" autocomplete="off">
			<label for="id-password"></label><input type="password" name="password" id="id-password"
				placeholder="Enter Password">
			<button class="ost-button" id="login-button" type="submit">Login</button>
			<h2><span>or</span></h2>
			<a id="register-button" class="button ost-button" href="/account/register">Sign Up</a>
		</form>
	</section>
</div>
