<h1>Module</h1>
<a href="/">Home</a>

<ul>
    <form action="/module" method="post">
        <button type="submit" id="loadModules">Load Modules</button>
    </form>
    {{#each modules}}
    <li>{{id}} | {{abbreviation}} | {{name}}</li>
    {{/each}}
</ul>