<h1>register</h1>
<div id="login-form-div">
	<section>
		<h1>Register</h1>
		<form method="post" action="#" id="login-form">
			<label for="id-email"></label><input type="text" name="email" id="id-email"
				placeholder="Enter Email" autocomplete="off">
			<label for="id-password"></label><input type="password" name="password" id="id-password"
				placeholder="Enter Password">
			<button class="button" id="login-button" type="submit">Register</button>
		</form>
	</section>
</div>