<div id="login-form-div">
	<section>
		<h1>Sign Up</h1>
		<p>Registration only works for students with a HSR- or OST-Email-Address (name@ost.ch | name@hsr.ch).</p>
		<form method="post" action="#" id="login-form">
			<label for="id-email"></label><input type="text" name="email" id="id-email"
				placeholder="Enter Email" autocomplete="off">
			<label for="id-password"></label><input type="password" name="password1" id="id-password1"
				placeholder="Enter Password">
			<label for="id-password"></label><input type="password" name="password2" id="id-password2"
				placeholder="Verify Password">
			<button class="button" id="verify-button" type="submit">Send Verification Email</button>
			<button class="button" id="cancel-verification">Cancel</button>
		</form>
	</section>
</div>