<h1>Subjects</h1>
<div class="search">
	<input id="searchbar" autocomplete="off" type="text" name="search" placeholder="Search Subject...">
</div>

{{#each subjects}}
		<article class="subject content-box" onclick="location.href='/subjects/{{abbreviation}}'">
			<h3 class="subject-name">{{abbreviation}} {{name}}</h3>
		</article>
{{/each}}
<script type="module" src="/js/subjects-script.js" defer></script>
