<h1>Subjects</h1>
<div class="search">
	<input id="searchbar" autocomplete="off" type="text" name="search" placeholder="Search Subject...">
</div>

{{#each subjects}}
		<article class="subject">
			<div class="subject-description">
				<a class="link" href="/subjects/{{abbreviation}}">
					<h3 class="subject-name">
						<em class="abbreviation">{{abbreviation}}</em>
            			{{name}}
					</h3>
				</a>
            </div>
		</article>
{{/each}}
<script type="text/javascript" src="/js/subjects-script.js" defer></script>
